@import '_variablesColors';
@import 'mixins';
.lista-filme{
    @include flex-center;
    flex-direction: row;
    margin: 5rem auto;
    max-width: 99rem;
    gap: 2.25rem;
    overflow: visible;
    .slick-slide{
        padding: 1.25rem;
    }
    .slick-list{
        margin: 0 4rem;
    }
    .slick-arrow{
        &::before{
            color: $cinza-middle;
            font-size: 2rem;
        }
    }
    .slick-next{
        right: 2rem;
        z-index: 1;
    }
    .slick-prev{
        left: 2rem;
        opacity: 2;
        z-index: 1;
        &:hover{
            color: $cinza-middle;
            opacity: 30;
        }

    }
    .slick-dots li button:before{
        color: #8323FF !important;
    }
    .slick-dots li.sclick-active button:before{
        color: #FF2DAF !important;
    }
}
.imgFilme{
    width: 16rem;
    height: 21rem;
    display: flex;
    border-radius: 0.5rem;

}
.h1-title{
    @include flex-center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    padding-bottom: 2rem;
    background: linear-gradient(70deg, #8323FF 0.99%, #FF2DAF 102.1%);
    text-shadow: -25px -25px 8px rgba(0,0,0,0.65);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 5rem;
    text-transform: uppercase;
}

.lista-filme strong{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 9rem;
    height: 2.5rem;
    max-width: 9rem;

    font-size: 1.25rem;
    color: $white;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: normal;
    line-height: 100%;
    font-weight: 500;

}
.btn-filme{
    @include flex-center;

    width: 16rem;
    padding: 1rem 1rem;
    border: none;
    flex-direction: row;
    background-color: $cinza-a;
    border-radius: 0.25rem;

}
.bg-icon2 {
    @include flex-center;
    width: 1.75rem;
    height: 1.75rem;
    position: relative;
    cursor: pointer;

    
}
.bg-icon2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $cinza-dark; 
    border-radius: 50%; 
    z-index: 1;
}
.FaPlayE{
    @include flex-center;
    width: 0.4922rem;
    height: 0.5469rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.LinkCenter{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.DivVote{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.9375rem;
}
.voteAverage{
    font-size: 1.128rem;
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    filter: drop-shadow(0px 0px 14.408px rgba(254, 234, 53, 0.25));
    color: gold;
    font-weight: 600;
    font-style: normal; 
}
.releaseDate{
    font-size: 0.75rem;
    color: $cinza-light;
    font-weight: 400;
    line-height: 1.25rem;
    font-style: normal;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    text-align: right;
    gap: 0.435rem;
    padding: 5px 5px;
};
.FaCalendarE{
    color: $cinza-light;
    align-items: center;
    gap: 0.625rem;
}
.loadingicon{
    @include flex-center;
    margin-top: 0.9375rem;
}