@import '_variablesColors';
@import 'mixins';

a{
    color: $white;
    text-decoration: none;
}
html,body{
    @include flex-center;
    overflow: hidden; /* Remove o scroll */
}
html{
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    @include flex-center;
    background-color: $cinza-dark;
    color: $white;
    font-family: 'Outfit',Arial, sans-serif;
    flex-direction: column;
}