@import '_variablesColors';

a{
    color: $white;
    text-decoration: none;
}
html,body{
    overflow: hidden; /* Remove o scroll */
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $cinza-dark;
    color: $white;
    font-family: 'Outfit',Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}